{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span12">
    <a href="/"><img src="/static/img/stratback.png" border=0></a><br>
    <div class="dkblue">
    <div class="row dkblue">

      <div class="span10 offset1 content" id='update'>
        <h2>Complex Strategies</h2>
        <p class="text-right"><small>
        <br>March 22, 2013</small></p>
        <p>
So what, exactly, was the London Whale’s trading strategy when <a href="http://money.cnn.com/2012/07/13/investing/jpmorgan-earnings/index.htm" title="JPMorgan's trading loss: $5.8 billion" target="_blank">he lost $5.8 billion</a> for JPMorgan last year?
</p>
<p>
As documented in his presentation to the JPMorgan International Senior Management Group of the Chief Investment Office:
</p>
<p><blockquote><small>
He proposed to “sell the forward spread and buy protection on the tightening move,” “use indices and add to existing position,” “go long risk on some belly tranches especially where defaults may realize” and “buy protection on HY and Xover in rallies and turn the position over to monetize volatility.”
</blockquote></small></p>
<p>
If it uses lots of complicated words without making any sense, it must be really smart, right? 
</p>
<p>
<a href="http://www.investopedia.com/" title="Investopedia" target="_blank">Investopedia</a>-induced diarrhea is apparently an acceptable investment strategy, so I wrote my own app to generate complex trades. 
</p><p>
Dear Banks, feel free to employ my app and then <a href="http://en.wikipedia.org/wiki/Bruno_Iksil" title="London Whale" target="_blank">pay me $7 million a year in compensation</a>. 
</p>
<a href="http://www.nytimes.com/2013/03/22/business/behind-the-derivatives-gibberish-risks-run-amok.html" title="Masked by Gibberish, the Risks Run Amok" target="_blank">Masked by Gibberish, the Risks Run Amok</a> --NY Times
      </div>
    </div>
    <hr class="bottom">
    </div>
  </div>
</div>
{% endblock %}
