{% extends "base.html" %}
{% block title %}Thank You{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span12">
<a href="/"><img src="/static/img/stratback.png" border=0></a><br>
    <div class="dkblue">
    <div class="row dkblue">

      <div class="span10 offset1 content" id='update'>
        <h2>Thank You</h2>
        
Your message was sent! We thank you for your interest and look forward to discussing  the management of your assets  
        
      </div>
    </div>
    <hr class="bottom">
    </div>
  </div>
</div>

{% endblock %}
  